<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome 智能花园！</title>
    <link rel="stylesheet" href="{% static 'style/simple-line-icons.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/fontawesome-all.min.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/styles.css'%}" type="text/css">
    <style>
         /* 下拉按钮样式 */
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            margin:10px;
            font-size: 10px;
            border: none;
            cursor: pointer;
        }

         /* 容器 <div> - 需要定位下拉内容 */
        .dropdown {
            position: relative;
            display: inline-block;
        }

         /* 下拉内容 (默认隐藏) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

         /* 下拉菜单的链接 */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

         /* 鼠标移上去后修改下拉菜单链接颜色 */
        .dropdown-content a:hover {background-color: red;}

         /* 在鼠标移上去后显示下拉菜单 */
        .dropdown:hover .dropdown-content {
            display: block;
        }

         /* 当下拉内容显示后修改下拉按钮的背景颜色 */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
        .bb{
            background-color:white;
        }
    </style>
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#">
            <img src="{% static 'image/logo.png' %}" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <div class="dropdown">
                    <button class="dropbtn">植物选单</button>
                    <div class="dropdown-content">
                        <a href="#" class="aa">玉米</a>
                        <a href="#" class="bb">番茄</a>
                        <a href="#" class="cc">白菜</a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'image/avatar-1.png' %}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">{{ user }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">账户</div>

                    <a href="http://127.0.0.1:8000/blank/" class="dropdown-item">
                        <i class="fa fa-user"></i> 个人资料
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> 消息
                    </a>

                    <div class="dropdown-header">设置</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-bell"></i> 通知
                    </a>

                    <a href="invoice.html" class="dropdown-item">
                        <i class="fa fa-wrench"></i> 个人设置
                    </a>

                    <a href="http://127.0.0.1:8000/" class="dropdown-item">
                        <i class="fa fa-lock"></i> 注销
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">导航栏</li>

                    <li class="nav-item">
                        <a href="index.html" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 综合数据
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 植物管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="chartjs.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-energy"></i> 植物简介
                                </a>
                            </li>

                           <!--  <li class="nav-item">
                                <a href="alerts.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 影像展示 
                                </a>
                            </li> -->

                            <li class="nav-item">
                                <a href="buttons.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-energy"></i> 智能调节
                                </a>
                            </li>

                            <!-- <li class="nav-item">
                                <a href="cards.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 智能光控
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="modals.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 智能温控
                                </a>
                            </li> -->

                            <li class="nav-item">
                                <a href="tabs.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-energy"></i> 实时监控
                                </a>
                            </li>

                            <!-- <li class="nav-item">
                                <a href="progress-bars.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 人工管理
                                </a>
                            </li> -->
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-puzzle"></i> 系统设置 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="pepei.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-puzzle"></i> 箱子匹配
                                </a>
                            </li>

                            <!-- <li class="nav-item">
                                <a href="zhiwuzhonglei.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-puzzle"></i> 植物种类
                                </a>
                            </li> -->
                        </ul>
                    </li>

                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon icon-grid"></i> 个人设置
                        </a>
                    </li>

                    <li class="nav-title">更多</li> -->

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-umbrella"></i> 个人主页 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="login.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 登录
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="register.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 注册
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="http://127.0.0.1:8000/blank" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 个人资料
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="invoice.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 个人设置
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="settings.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 联系我们
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>   
            </nav>
        </div>
    </div>
     <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-light">
                            光照强度
                        </div>

                        <div class="card-body">
                            <div id="Temperature_bar-chart" style="width:650px;height:235px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div  class="card-header bg-light">
                            土壤湿度
                        </div>

                        <div  class="card-body">
                            <div id="soil_Avg_line-chart" style="width:650px;height:235px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-light">
                            光照表
                        </div>

                        <div class="card-body">
                            <div id="Illumination_line-chart" style="width:650px;height:235px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-light">
                            元素组成&nbsp(请以实际为准)
                        </div>

                        <div class="card-body">
                            <div id="pie-chart" style="width:500px;height:235px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <hr>
    </div>   
  </body>
</html>  
</div>
<script src="{% static 'javascript/jquery.min.js' %}"></script>
<script src="{% static 'javascript/popper.min.js' %}"></script>
<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/chart.js' %}"></script>
<script src="{% static 'javascript/carbon.js' %}"></script>
<script src="{% static 'javascript/demo.js' %}"></script>
<script src="{% static 'javascript/echarts.min.js' %}"></script>
<script src="{% static 'javascript/echarts.js' %}"></script>
{#<script src="./bootstrapvalidator-master/dist/js/echarts.min.js"></script>#}
<script type="text/javascript">
 var mychart = echarts.init(document.getElementById('Temperature_bar-chart'));
 var option = {
            title: {
                text: '温度表'
            },
            tooltip: {},
            legend: {
                data:['温度']
            },
            xAxis: {
                data: {{ id|safe }}
            },
            yAxis: {},
            series: [{
                name: '温度',
                type: 'bar',
                data: {{ Temperature|safe}}
            }]
        };
    mychart.setOption(option);

 var mychart1 = echarts.init(document.getElementById('soil_Avg_line-chart'));
 var option1 = {
            title: {
                text: '湿度表'
            },
            tooltip: {},
            legend: {
                data:['湿度']
            },
            xAxis: {
                data: {{ ids|safe }}
            },
            yAxis: {},
            series: [{
                name: '湿度',
                type: 'line',
                data: {{ soil_Avg|safe}}
            }]
        };
    mychart1.setOption(option1);

 var mychart2 = echarts.init(document.getElementById('Illumination_line-chart'));
 var option2 = {
            title: {
                text: '光照强度'
            },
            tooltip: {},
            legend: {
                data:['光照']
            },
            xAxis: {
                data: {{ ids|safe }}
            },
            yAxis: {},
            series: [{
                name: '光照',
                type: 'line',
                data: {{ Illumination|safe}}
            }]
        };
    mychart2.setOption(option2);
 {#var mychart1 = echarts.init(document.getElementById('line-chart'));#}
 {#var option1 = {#}
 {#           title: {#}
 {#               text: '湿度表'#}
 {#           },#}
 {#           tooltip: {},#}
 {#           legend: {#}
 {#               data:['湿度']#}
 {#           },#}
 {#           xAxis: {#}
 {#               dataz: {{ ids|safe }}#}
 {#           },#}
 {#           yAxis: {},#}
 {#           series: [{#}
 {#               name: '湿度',#}
 {#               type: 'line',#}
 {#               dataz: {{ Illumination|safe }}#}
 {#           }]#}
 {#       };#}
 {#   mychart1.setOption(option1);#}
</script>

{#<script type="text/javascript">#}
{# var mychart = echarts.init(document.getElementById('radar-chart'));#}
{#     var option = { //可以去官网上根据每个案例不同的option去写各种图形#}
{#            title: {   //标题#}
{#                text: '综合表'#}
{#            },#}
{#            tooltip: {   //提示框，鼠标悬浮交互时的信息提示#}
{#                show:true,#}
{#                trigger: 'axis'#}
{#            },#}
{#            legend: {    //图例，每个图表最多仅有一个图例#}
{#                left : '30%',#}
{#                itemWidth: 15,#}
{#                itemHeight: 10,#}
{#                itemGap: 30,         #}
{#                data: ['箱内环境', '实际环境',]#}
{#            },#}
{#            polar: [{    //极坐标 #}
{#                indicator: [{text: '温度',max: 100,color:'#000'}, #}
{#                            {text: '待定',max: 100,color:'#000'},#}
{#                            {text: '湿度',max: 100,color:'#000'},#}
{#                            {text: '待定',max: 100,color:'#000'},#}
{#                            {text: '水分',max: 100,color:'#000'},#}
{#                            {text: '待定',max: 100,color:'#000'}#}
{#                           ],#}
{#                radius: 90,      #}
{#                startAngle: 120   // 改变雷达图的旋转度数#}
{#            }],#}
{#            series: [{         // 驱动图表生成的数据内容数组，数组中每一项为一个系列的选项及数据#}
{#                name: '总点击量',#}
{#                type: 'radar',#}
{#                itemStyle: {//图形样式，可设置图表内图形的默认样式和强调样式（悬浮时样式）：#}
{#                    normal: {#}
{#                        areaStyle: {#}
{#                            type: 'default'#}
{#                        }#}
{#                    }#}
{#                },#}
{#                data: [{#}
{#                    name: '箱内环境',#}
{#                    value: [{}]      //外部加载，也可以通过ajax去加载外部数据。       #}
{#                }, {#}
{#                    name: '实际环境',#}
{#                    value: [{}]#}
{#                }]#}
{#            }]#}
{#        };#}
{#    mychart.setOption(option);#}
{#</script>#}
<script type="text/javascript">
 var mychart = echarts.init(document.getElementById('pie-chart'));
 var option = {
            title: {
                text: '元素表'
            },
            tooltip: {},
            legend: {
                data:[]
            },
            series : [{
            name: '',
            type: 'pie',
            radius: '70%',
            data:[
                {value:30, name:'碳'},
                {value:10, name:'磷'},
                {value:35, name:'氧'},
                {value:17, name:'氮'},
                {value:8, name:'钾'}
            ]}
    ]};
    mychart.setOption(option);
</script>
<script>
 $("#lists li a").children().children().children().on("click",function(){
            $(this).css("backgroundColor","red").siblings().css("backgroundColor","white")
        })
        $("#lists li a").children().children().children().on("mouseover",function(){
            $(this).css("backgroundColor","red").siblings().css("backgroundColor","white")
        })



</script>
</body>
</html>
