<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome 智能花园！</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/simple-line-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/styles.css' %}">
{#    <link rel="stylesheet" href="/static/style/simple-line-icons.css">#}
{#    <link rel="stylesheet" href="/static/style/fontawesome-all.min.css">#}
{#    <link rel="stylesheet" href="/static/style/styles.css">#}
    <style>

        .beijingtu{
            background-image:
                    {#url(/static/image/imgs/1.jpg);#}
                    url({% static 'image/1.jpg' %});
        }

            .touming{opacity: 0.8}

    </style>
</head>
<body>
<div class="page-wrapper flex-row align-items-center beijingtu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4 touming">
                    <div class="card-header text-center text-uppercase h4 font-weight-light">
                        登录
                    </div>

                    <div class="card-body py-5">
                        <div class="form-group">
                            <label class="form-control-label">邮箱</label>
                            <input type="email" class="form-control" name="mail">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">密码</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <div class="custom-control custom-checkbox mt-4">
                            <input type="checkbox" class="custom-control-input" id="login" name="reviewpassword">
                            <label class="custom-control-label" for="login">记住密码</label>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <a href="index.html">
                                   <button type="submit" class="btn btn-primary px-5">登录</button>
                                </a>
                            </div>

                            <div class="col-6">
                                <a href="http://127.0.0.1:8000/register/" class="btn btn-link">注册账号</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#<script src="/static/javascript/jquery.min.js"></script>#}
{#<script src="/static/javascript/popper.min.js"></script>#}
{#<script src="/static/javascript/bootstrap.min.js"></script>#}
{#<script src="/static/javascript/chart.min.js"></script>#}
{#<script src="/static/javascript/carbon.js"></script>#}
{#<script src="/static/javascript/demo.js"></script>#}
</body>
</html>
