<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome 智能花园！</title>
    <link rel="stylesheet" href="./static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="./static/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./static/css/styles.css">
    <link href="css/custom.css" rel="stylesheet">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <div class="page-header">
        <nav class="navbar page-header">
            <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                <i class="fa fa-bars"></i>
            </a>

            <a class="navbar-brand" href="#">
                <img src="./imgs/logo.png" alt="logo">
            </a>

            <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                <i class="fa fa-bars"></i>
            </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-md-down-none">
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-danger">5</span>
                    </a>
                </li>

                <li class="nav-item d-md-down-none">
                    <a href="#">
                        <i class="fa fa-envelope-open"></i>
                        <span class="badge badge-pill badge-danger">5</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="./imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                        <span class="small ml-1 d-md-down-none">小明123</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header">账户</div>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-user"></i> 个人资料
                        </a>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-envelope"></i> 消息
                        </a>

                        <div class="dropdown-header">设置</div>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-bell"></i> 通知
                        </a>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-wrench"></i> 个人设置
                        </a>

                        <a href="#" class="dropdown-item">
                            <i class="fa fa-lock"></i> 注销
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">导航栏</li>

                    <li class="nav-item">
                        <a href="index.html" class="nav-link">
                            <i class="icon icon-speedometer"></i> 综合数据
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 植物管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="chartjs.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-energy"></i> 植物简介
                                </a>
                            </li>

                            <!-- <li class="nav-item">
                                <a href="alerts.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 影像展示 
                                </a>
                            </li> -->

                            <li class="nav-item">
                                <a href="buttons.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-energy"></i> 智能调节
                                </a>
                            </li>

                            <!-- <li class="nav-item">
                                <a href="cards.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 智能光控
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="modals.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 智能温控
                                </a>
                            </li> -->

                            <li class="nav-item">
                                <a href="tabs.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-energy"></i> 实时监控
                                </a>
                            </li>

                            <!-- <li class="nav-item">
                                <a href="progress-bars.html" class="nav-link active">
                                    <i class="icon icon-energy"></i> 人工管理
                                </a>
                            </li> -->
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-puzzle"></i> 系统设置 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="pepei.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-puzzle"></i> 箱子匹配
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="zhiwuzhonglei.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-puzzle"></i> 植物种类
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-umbrella"></i> 主页 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="login.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 登录
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="register.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 注册
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="blank.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 个人资料
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="invoice.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 个人设置
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="settings.html" class="nav-link">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp<i class="icon icon-umbrella"></i> 联系我们
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<div class="content">

       <div id="wrapper">

        <div id="page-wrapper" class="gray-bg dashbard-1">

        
    
    <!--grid-->
     <div class="inbox-mail">
    <div class="col-md-4 compose">
        <form action="#" method="GET">
                <div class="input-group input-group-in">
                    
                    <span class="input-group-btn">
                        
                    </span>
                </div><!-- Input Group -->
            </form>
            
</div>
<!-- tab content -->
<div class="col-md-8 tab-content tab-content-in">
<div class="tab-pane active text-style" id="tab1">
  <div class="inbox-right">
            
            <div class="mailbox-content">
               <div class="mail-toolbar clearfix">
                 <div class="float-left">
                   <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                                <div class="btn-group">
                                    
                                    
                                </div>
                                <div class="btn-group">
                                   
                                </div>
                            </div>
                    
                    
                </div>
                <div class="float-right">
               <div class="dropdown">
                        
                    </div>
                            
                            <div class="btn-group">
                                
                            </div>
                        
                    
                </div>
                
               </div>
                <table class="table">
                    <tbody>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="imgs/in.jpg" alt="" />
                            </td>
                            <td class="table-text">
                                <h6>张三</h6>
                                <a href="https://mail.163.com" target="_blank">jiaoyazhiwang@163.com</a>
                            </td>
                            <td>
                                <span class="fam">gerdener</span>
                            </td>
                            <td class="march">
                                5 days 
                            </td>
                          
                             <td >
                             <i class="fa fa-star-half-o icon-state-warning"></i>
                                
                            </td>
                        </tr>
                       <tr class="table-row">
                            <td class="table-img">
                               <img src="imgs/in1.jpg" alt="" />
                            </td>
                            <td class="table-text">
                                <h6>李四</h6>
                                <a href="https://mail.163.com" target="_blank">jiaoyazhiwang@163.com</a>
                            </td>
                            <td>
                                <span class="mar">gerdener</span>
                            </td>
                            <td class="march">
                                 5 days 
                            </td>
                          
                             <td >
                               <i class="fa fa-star-half-o icon-state-warning"></i>
                            </td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="imgs/in2.jpg" alt="" />
                            </td>
                            <td class="table-text">
                                <h6>王五</h6>
                                <a href="https://mail.163.com" target="_blank">jiaoyazhiwang@163.com</a>
                            </td>
                            <td>
                                <span class="work">gendener</span>
                            </td>
                            <td class="march">
                                 5 days 
                            </td>
                          
                             <td >
                               <i class="fa fa-star-half-o icon-state-warning"></i>
                            </td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="imgs/in3.jpg" alt="" />
                            </td>
                            <td class="table-text">
                                <h6>周二</h6>
                                <a href="https://mail.163.com" target="_blank">jiaoyazhiwang@163.com</a>
                            </td>
                            <td>
                                <span class="fam">gerdener</span>
                            </td>
                            <td class="march">
                               4 days 
                            </td>
                          
                             <td >
                               <i class="fa fa-star-half-o icon-state-warning"></i>
                            </td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="imgs/in4.jpg" alt="" />
                            </td>
                            <td class="table-text">
                                <h6>姜大</h6>
                                <a href="https://mail.163.com" target="_blank">jiaoyazhiwang@163.com</a>
                            </td>
                            <td>
                                <span class="ur">gendener</span>
                            </td>
                            <td class="march">
                                 4 days 
                            </td>
                          
                             <td >
                               <i class="fa fa-star-half-o icon-state-warning"></i>
                            </td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="imgs/in5.jpg" alt="" />
                            </td>
                            <td class="table-text">
                                <h6>陈六</h6>
                                <a href="https://mail.163.com" target="_blank">jiaoyazhiwang@163.com</a>
                            </td>
                            <td>
                                <span class="fam">worker</span>
                            </td>
                            <td class="march">
                                 3 days  
                            </td>
                          
                             <td >
                               <i class="fa fa-star-half-o icon-state-warning"></i>
                            </td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="imgs/in6.jpg" alt="" />
                            </td>
                            <td class="table-text">
                                <h6>梁四</h6>
                                <a href="https://mail.163.com" target="_blank">jiaoyazhiwang@163.com</a>
                            </td>
                            <td>
                                <span class="fam">gendener</span>
                            </td>
                            <td class="march">
                                2 days  
                            </td>
                          
                             <td >
                               <i class="fa fa-star-half-o icon-state-warning"></i>
                            </td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="imgs/in8.jpg" alt="" />
                            </td>
                            <td class="table-text">
                                <h6>刘七</h6>
                                <a href="https://mail.163.com" target="_blank">jiaoyazhiwang@163.com</a>
                            </td>
                            <td>
                              <span class="fam">worker</span>
                            </td>
                            <td class="march">
                                 2 days 
                            </td>
                          
                             <td >
                               <i class="fa fa-star-half-o icon-state-warning"></i>
                            </td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="imgs/in9.jpg" alt="" />
                            </td>
                            <td class="table-text">
                                <h6>于二</h6>
                                <a href="https://mail.163.com" target="_blank">jiaoyazhiwang@163.com</a>
                            </td>
                            <td>
                                <span class="fam">worker</span>
                            </td>
                            <td class="march">
                                 2 days 
                            </td>
                          
                             <td >
                               <i class="fa fa-star-half-o icon-state-warning"></i>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
               </div>
            </div>
</div>
          <div class="tab-pane text-style" id="tab2">
                 <div class="inbox-right">
            
                      <div class="mailbox-content">
                        <div class="mail-toolbar clearfix">
                            <div class="float-left">
                              <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                                <div class="btn-group">
                                    
                                </div>
                                <div class="btn-group">
                                    
                                </div>
                            </div>
                        </div>
                      </div>                            
                </div>
        </div>
    </div>
     
<!---->
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>
    <!--//scrolling js-->
</body>
</html>

